'fileTypes': [
  'tbd'
]
'name': 'Task Break Down File'
'patterns': [
  {
    'include': '#comment'
  }
  {
    'match': '^[^\\s]+'
    'name': 'markup.bold.tbdfile'
  }
  {
    'match': '\\[.*\\]'
    'name': 'constant.other.color.tbdfile'
  }
  {
    'match': '^ *\\![^\\[]*'
    'name': 'markup.changed.tbdfile'
  }
  {
    'match': '^ *\\*[^\\[]*'
    'name': 'markup.inserted.tbdfile'
  }


]
'repository':
  'comment':
    'captures':
      '1':
        'name': 'comment.line.tbdfile'
    'match': '((//).*$\\n?)'
'scopeName': 'text.tbdfile'
